
.App-header {
  background-color: #D9D9D9;
  min-height: 300vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

#background {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 70vw, rgba(0, 0, 0, 0) 100%),
    url('./architects-studying-plan-with-mockup.jpg');
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  width: 100vw;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Cover the entire area */
}
#text-container
{
  
  display: inline-block;
  width: 50vw;
  height: 100vh;
  margin: 30px;
}
#text-container h1
{
  font-size: 2.3em;
}
#text-container p{
  font-size: 1.1em;
}
#text-container button
{
  width: 20vw;
  height: 8vh;
  font-size: 1.2em;
  background-color: #186C58;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;

}
#at{
  font-size: 1rem !important;
  margin-top: 20vh;
}
#promise-body
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  width: 100vw;
  height: 50vh;
}
.promise-element
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33vw;
  height: 30vh;

}
.promise-element h3{
  color: #186C58;
}
.svg
{
  scale: 3;
  margin-top: 10px;
}
#process-body
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80vw;
  height: 50vh;
}
.process-element
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27vw;
  height: 50vh;

}
.process-element h3{
  color: #186C58;
}
.line
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  height: 5px;
  background-color: #186C58;
}

.big-circle
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #186C58;
}
.small-circle
{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #D9D9D9;
}
